@mixin adaptiv-value(
  $property,
  $startSize,
  $minSize,
  $type,
  $size: $max-width-container,
  $max: $max-width
) {
  $addSize: $startSize - $minSize;
  @if $type==1 {
    #{$property}: $startSize + px;
    @include screen($size + px, 'max') {
      #{$property}: calc(
        #{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$size - 320})
      );
    }
  } @else if $type==2 {
    #{$property}: $startSize + px;
    @include screen($size + px, 'min') {
      #{$property}: calc(
        #{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$max - 320})
      );
    }
  } @else {
    #{$property}: calc(
      #{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$max - 320})
    );
  }
}

@function vw($size, $width: 1920) {
  @return calc($size/$width * 100vw);
}
