$min-width: 320px;
$max-width: 1952;
$max-width-sign-in: 1920;
$max-width-container: 1920;

$lg: 1365.98px;
$lmd: 1023.98px;
$md: 767.98px;
$sm: 575.98px;
$xm: 479.98px;

:export {
    lg: 1365.98;
    lmd: 1023.98;
    md: 767.98;
    sm: 575.98;
    xm: 479.98;
}
